<!DOCTYPE html>
<html>
<head>
    <title>Prospector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Valet Prospector</span>
    </nav>
    <div class="container">
        <form action="/valet-stations" method="post">
            <div class="form-group">
                <label for="stationLoc">Valet Station Location</label>
                <input name="address" class="form-control" id="stationLoc">
            </div>
            <div class="form-group">
                <label for="establishmentName">Establishment Name</label>
                <input name="establishment_name" class="form-control" id="establishmentName">
            </div>
            <div class="form-group">
                <label for="establishmentWeb">Establishment Website</label>
                <input name="establishment_web" class="form-control" id="establishmentWeb">
            </div>
            <div class="form-group">
                <label for="valetName">Valet Name</label>
                <input name="valet_name" class="form-control" id="valetName">
            </div>
            <div class="form-group">
                <label for="valetWeb">Valet Website</label>
                <input name="valet_web" class="form-control" id="valetWeb">
            </div>
            <div class="form-group">
                <label for="numEmployees">Number of Valets</label>
                <select name="num_employees" class="form-control" id="numEmployees">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea name="comment" class="form-control" id="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>

        <h1>Valet Stations</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Address</th>
                <th scope="col">Establishment name</th>
                <th scope="col">Establishment Website</th>
                <th scope="col">Valet Name</th>
                <th scope="col">Valet website</th>
                <th scope="col">Number Employees</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
                <% valetStationList.forEach(function(station){ %>
                <tr>
                <td><%= station.address %></td>
                <td><%= station.establishment_name %></td>
                <td><%= station.establishment_web %></td>
                <td><%= station.valet_name %></td>
                <td><%= station.valet_web %></td>
                <td><%= station.num_employees %></td>
                <td><%= station.comment %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
